.main_landing {
  background-color: #1e252b;
  padding: 0 20px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.top_landing {
  display: flex;
  justify-content: space-between;
}
.landing_left {
  display: flex;
  flex-direction: column;
  flex: 2 1 300px;
}
.left__top-txt {
  font-size: 6vw;
  color: #ffff;
  margin: 0;
  text-transform: uppercase;
}
.left__bottom-txt {
  color: rgba(248, 93, 84, 0.41);
  font-size: 6vw;
  float: right;
  text-transform: uppercase;
}

.for_bg_1 {
  background-image: url("./landingMedia/Ellipse\ 203.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.for_bg_2 {
  background-image: url("./landingMedia/Ellipse\ 203.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing_rigth {
  flex: 2 1 300px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: end;
  align-items: flex-end;
  max-width: 500px;
}

.rigth__title {
  color: #ffff;
  font-size: 3vw;
  text-transform: uppercase;
}
.rigth__descr {
  font-size: 2vw;
  line-height: 5vh;
  color: rgba(255, 255, 255, 0.55);
}
.rigth__btn {
  letter-spacing: 3px;
  width: 180px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  color: #ffffff;
  background-color: #ff6e30;
  border-radius: 8px;
  border: none;
  margin: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 35px 5px rgba(234, 74, 6, 0.25);
}
.rigth__btn:hover {
  transition: 0.5s;
  background-color: #fc4d02;
  box-shadow: 0px 0px 35px 5px rgba(61, 45, 38, 0.25);
  border: none;
}

@media screen and (max-width: 768px) {
  .rigth__descr {
    font-size: 16px;
  }

  .rigth__title {
    font-size: 18px;
  }

  .landing_left {
    display: none;
  }

  .rigth__btn {
    width: 120px;
    height: 45px;
    font-size: 14px;
  }
}
@media screen and (max-width: 482px) {
  .rigth__btn {
    width: 180px;
    height: 60px;
    font-size: 14px;
  }
}
