.main_landing {
  padding: 0 20px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.top_landing {
  display: flex;
  justify-content: space-between;
}
.landing_left {
  display: flex;
  flex-direction: column;
  flex: 2 1 300px;
}
.left__top-txt {
  font-size: 7vw;
  color: #ffff;
  margin: 0;
  /* text-transform: uppercase; */
}
.left__bottom-txt {
  color: rgba(235, 141, 250, 0.76);
  font-size: 7vw;
  float: right;
}

.for_bg_1 {
  background-image: url("./landingMedia/Ellipse\ 203.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.for_bg_2 {
  background-image: url("./landingMedia/Ellipse\ 203.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing_rigth {
  flex: 2 1 300px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: end;
  align-items: flex-end;
  max-width: 500px;
}

.rigth__title {
  color: #ffff;
  font-size: 3vw;
  text-transform: uppercase;
}
.rigth__descr {
  font-size: 2vw;
  line-height: 5vh;
  color: rgba(255, 255, 255, 0.55);
}
.btn-22 {
  width: 180px;
  height: 60px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2em;
  outline: none;
  border: 2px solid #f3f6f5;
  position: relative;
  z-index: 1;
  background: #42fbf200;
}
.btn-22:hover {
  color: #fff;
  cursor: pointer;
}
.btn-22::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #0875c3b5;
}

.btn-22:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .rigth__descr {
    font-size: 16px;
  }

  .rigth__title {
    font-size: 18px;
  }

  .landing_left {
    display: none;
  }

  .rigth__btn {
    width: 120px;
    height: 45px;
    font-size: 14px;
  }
}
@media screen and (max-width: 482px) {
  .rigth__btn {
    width: 180px;
    height: 60px;
    font-size: 14px;
  }
}
