/* Связь с нами */
.content-contact {
  padding: 60px 100px 80px;
}
.contact {
  font-family: Circe, sans-serif;
  color: #ffffff;
}

.content-contact h1 {
  font-size: 40px;
  line-height: 45px;
  color: #ffc531;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
  margin: 20px 0;
}

.content-contact p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.content-contact > * {
  margin-top: 0;
}

.content-contact a {
  color: rgb(130, 150, 249);
}

.content-contact a:hover {
  border-bottom: 1px solid #383838;
}
/* end Связь с нами  */

/* О нас */
.container_us {
  max-width: 1150px;
  margin: 50px auto 0;
}

section {
  font-weight: 500;
  font-size: 20px;
  color: #91eb9b;
}
.title {
  color: #ffc531;
  text-align: center;
}
/* end О нас */

.advantages {
  color: red;
}
