* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgba(30, 37, 43, 1) !important;
  padding: 0 10%;
}
.main-page-content {
  margin: 40px 0;
}
.main-page-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.main-page-left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
}
.main-page-order {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
  /* margin-bottom: 30%; */
}

.main-page-button {
  width: 180px;
  height: 70px;
  font-size: 30px;
  color: white;
  background-color: rgba(255, 110, 48, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  padding-left: 23px;
  cursor: pointer;
}
.main-page-button:hover {
  content: "";
  background-color: rgb(237, 120, 3);
}
.main-page-rihgt-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page-creators {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  z-index: -1;
}
.main-page-creators-block {
  position: absolute;
  width: 320px;
  height: 320px;
  background-image: url("./MainPage-img/Ellipse.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-page-creators img {
  width: 160px;
  height: 24px;
}

.main-page-group-img {
  animation: rotation 30s infinite linear;
  width: 320px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.main-page-icon {
  display: flex;
  width: 140px;
  justify-content: space-between;
}
.main-page-icon img {
  width: 30%;
}
.main-page-left-block h1 {
  font-size: 50px;
  width: 100%;
  color: white;
}
.main-page-left-block span {
  color: rgba(255, 110, 48, 1);
}
.main-page-left-block h5 {
  color: rgba(255, 255, 255, 0.567);
  font-size: 20px;
  width: 400px;
}
@media (max-width: 900px) {
  .main-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
  }
  .main-page-left-block {
    width: 100%;
    height: 400px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 1140px) {
  .main-page-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
  }
  .main-page-creators img {
    width: 140px;
    height: 20px;
  }
  .main-page-group-img {
    width: 300px;
  }
  .main-page-left-block h1 {
    font-size: 50px;
    width: 100%;
    color: white;
  }
  .main-page-left-block h5 {
    color: rgba(255, 255, 255, 0.567);
    font-size: 15px;
    width: 100%;
  }
  .main-page-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .main-page-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .main-page-button {
    width: 150px;
    height: 60px;
    font-size: 26px;
    color: white;
    background-color: rgba(255, 110, 48, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding-left: 23px;
    cursor: pointer;
  }
}
@media (max-width: 740px) {
  .main-page-wrapper {
    flex-direction: column;
  }
  .main-page-order {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .main-page-left-block {
    width: 100%;
    height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-page-icon {
    display: flex;
    width: 420px;
    justify-content: space-between;
  }
  .main-page-icon img {
    margin: 0 5px;
    width: 50px;
    /* font-size: px; */
  }
  .main-page-left-block h5 {
    color: rgba(255, 255, 255, 0.567);
    font-size: 30px;
    width: 100%;
  }
  .main-page-left-block h1 {
    font-size: 50px;
    width: 1005;
    color: white;
    letter-spacing: 3px;
  }
  .main-page-button {
    width: 160px;
    height: 80px;
    font-size: 26px;
    color: white;
    background-color: rgba(255, 110, 48, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding-left: 23px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .main-page-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .main-page-icon {
    display: flex;
    width: 240px;
    justify-content: space-between;
    padding-right: 40px;
    /* padding-left: -70px; */
  }
}
@media (max-width: 475px) {
  .main-page-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
  }
  .main-page-order {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
}
