.main-page-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.main-page-left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
}
.main-page-order {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
  /* margin-bottom: 30%; */
}

.btn-2 {
  width: 150px;
  height: 55px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2em;
  outline: none;
  border: 2px solid #f3f6f5;
  position: relative;
  z-index: 1;
  background: #42fbf200;
  margin-top: 10px;
}
.btn-2:hover {
  color: #fff;
  cursor: pointer;
}
.btn-2::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #0875c3b5;
}

.btn-2:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.main-page-rihgt-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page-creators {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  z-index: -1;
}
.main-page-creators-block {
  position: absolute;
  width: 320px;
  height: 320px;
  background-image: url("./MainPage-img/Ellipse.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-page-creators img {
  width: 120px;
}

.main-page-group-img {
  animation: rotation 30s infinite linear;
  width: 320px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.main-page-icon {
  background: rgb(24, 67, 70);
  position: absolute;
  position: fixed;
  display: flex;
  width: 40px;
  height: 130px;
  justify-content: space-between;
  flex-direction: column;
  /* margin-top: 20px; */
  left: 0;
}
.main-page-icon img {
  width: 30px;
  cursor: pointer;
  margin: 5px;
}
.main-page-icon img:hover {
  background-color: rgb(47, 122, 182);
  /* width: 100%; */
  /* padding: 10px; */
  /* box-sizing: border-box; */
  border-radius: 50%;
}
.main-page-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 86px;
  width: 100%;
  font-weight: 600;
  color: white;
}
.main-page-left-block h1 {
}
.main-page-left-block span {
  color: rgba(255, 110, 48, 1);
}
.main-page-left-block h5 {
  color: rgba(255, 255, 255, 0.567);
  font-size: 20px;
  width: 400px;
}
@media (max-width: 900px) {
  .main-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
  }
  .main-page-left-block {
    width: 100%;
    height: 400px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 1140px) {
  .main-page-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
  }
  .main-page-creators img {
    width: 140px;
    height: 20px;
  }
  .main-page-group-img {
    width: 300px;
  }
  .main-page-left-block h1 {
    font-size: 38px;
    width: 100%;
    color: white;
  }
  .main-page-left-block h5 {
    color: rgba(255, 255, 255, 0.567);
    font-size: 15px;
    width: 100%;
  }
  .main-page-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .main-page-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .main-page-wrapper {
    flex-direction: column;
  }
  .main-page-order {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .main-page-left-block {
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-page-icon {
    width: 30px;
    height: 100px;
    left: 0;
    top: 200px;
  }
  .main-page-icon img {
    width: 20px;
    cursor: pointer;
    margin: 5px;
  }
}
.main-page-left-block h5 {
  color: rgba(255, 255, 255, 0.567);

  font-size: 24px;
  width: 100%;
}
.main-page-left-block h1 {
  font-size: 30px;
  /* width: 1005; */
  color: white;
  /* letter-spacing: 3px; */
}

.main-page-left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media (max-width: 475px) {
  .main-page-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 425px;
  }
  .main-page-order {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 380px) {
  .main-page-left-block h5 {
    color: rgba(255, 255, 255, 0.567);
    font-size: 20px;
    width: 100%;
  }
  .main-page-creators {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    z-index: -1;
  }
  .main-page-creators-block {
    position: absolute;
    width: 240px;
    height: 240px;
    background-image: url("./MainPage-img/Ellipse.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .main-page-creators img {
    width: 100px;
    height: 16px;
  }

  .main-page-group-img {
    animation: rotation 30s infinite linear;
    width: 240px;
  }
}
