.navbar_container {
  /* width: 100%; */
  /* max-width: 1200px; */
  margin: 0 auto;
  height: 95px;
}

.navbar_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}
.navbar_a {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55) !important;
  font-style: normal;
  position: relative;
  transition: 1s;
}

.navbar_a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(248, 248, 254, 0.859);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}
.navbar_a:hover::after {
  transform: scaleX(1);
  /* color: rgba(255, 255, 255, 0.55); */
}
.navbar_a:hover {
  color: white !important;
}
.navbar_h1 {
  font-size: 40px;
  line-height: 55px;
  color: white;
  font-weight: bold;
}
.navbar_title2 {
  color: #ff6e30;
}
.navbar_r {
  font-size: 10px;
  margin-left: 10px;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  height: 10px;
  padding: 2px;
}
.navbar_block1 {
  width: 50%;
  display: flex;
}
.navbar_block2 {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.burger-line {
  content: "";
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  color: white;
  display: inline-block;
}
.burger {
  width: 38px;
  display: none;
}

.main_burger {
  position: absolute;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 100;
  background-color: rgba(31, 30, 43, 0.756);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: hidden;
  backdrop-filter: blur(6px);
}
.close_burger {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 61px;
  padding-top: 25px;
  align-self: flex-end;
  width: 25px;
}
.navbar_a1 {
  color: white !important;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.burger2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 100%;
  z-index: 100;
}
@media (max-width: 1200px) {
  .navbar_container {
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .navbar_container {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
  }
}
@media (max-width: 840px) {
  .navbar_container {
    width: 100%;
    /* max-width: 750px; */
    margin: 0 auto;
  }
  .navbar_h1 {
    font-size: 30px;
    line-height: 55px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
  }
  .navbar_a {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .navbar_container {
    width: 100%;
    /* max-width: 660px; */
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .navbar_container {
    width: 100%;
    /* max-width: 660px; */
    margin: 0 auto;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
  }
  .navbar_a {
    margin-right: 30px;
  }
}
@media (max-width: 500px) {
  .burger {
    display: block;
    margin-right: 0;
    cursor: pointer;
  }
  .navbar_a {
    display: none;
  }
  .navbar_block2 {
    display: flex;
    justify-content: flex-end;
  }
  .navbar_h1 {
    font-size: 27px;
  }
  .navbar_r {
    font-size: 8px;
    margin-left: 4px;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    height: 10px;
    padding: 2px;
  }
}
